<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sobreModal" class="modal fade" id="sobreModal" tabindex="-1" aria-labelledby="sobreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sobreModalLabel">Sobre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/dobot-h-800px-transp.png" alt="DoBot" style="max-height: 70px;" class="mb-3">
        <p>O DoBot.chat é uma ferramenta que simplifica a criação de chatbots personalizados para diversas finalidades, utilizando recursos básicos da linguagem Java. Ele oferece um sistema de controle de estados para gerenciar o fluxo das conversas e permite a personalização visual e a persistência de dados conforme necessário.</p>

        <p>Este é um projeto coordenado pelo prof. <a href="https://rodrigor.com">Rodrigo Rebouças de Almeida</a>, do Departamento de Ciências Exatas da Universidade Federal da Paraíba, Campus IV - Rio Tinto - PB, Brasil.</p>

        <h4>Equipe</h4>
        <ul>
          <li>Rodrigo Rebouças de Almeida (Dev e coordenador do projeto)</li>
          <li>Lucas da Silva Freitas (Dev)</li>
          <li>Gabriel Ribeiro Dias (Dev)</li>
        </ul>
        <p>Saiba mais em <a href="https://dobot.chat">https://dobot.chat</a></p>
      </div>
    </div>
  </div>
</div>
</html>