body {
    font-family: 'Poppins', 'sans-serif';
    background: var(--cor-fundo-pagina);
    margin: 0;
    padding: 0;
}

#chatForm {
    min-width: 375px;
    max-width: 700px;
}

#msgUsuario {
    border-radius: 20px 0 0 20px;
    background: var(--cor-fundo-chat);
    color: var(--cor-texto-chat);
}

button {
    padding: 10px;
    background: var(--cor-fundo-mensagem-usuario);
    border: none;
    border-radius: 0 20px 20px 0;
    color: var(--cor-texto-chat);
}

.chatbox {
    min-width: 375px;
    max-width: 700px;
    height: calc(100vh - 60px);
    background: var(--cor-fundo-chat);
    border-radius: 15px;
}

.mensagem {
    max-width: 70%;
    width: fit-content;
    word-break: break-word;
    position: relative;
}

.usuario {
    background: var(--cor-fundo-mensagem-usuario);
    border-radius: 15px 15px 15px 5px; /* Deixa um canto com um raio menor */
}

.usuario::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px; /* Fora do container para a seta aparecer na direita */
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: var(--cor-fundo-mensagem-usuario); /* Cor da seta */
    border-right: 0;
}

.bot {
    background: var(--cor-fundo-mensagem-bot);
    border-radius: 15px 15px 5px 15px; /* Deixa um canto com um raio menor */
}

.bot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px; /* Fora do container para a seta aparecer na esquerda */
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right-color: var(--cor-fundo-mensagem-bot); /* Cor da seta */
    border-left: 0;
}

.mensagem p {
    color: var(--cor-texto-chat);
}
