#chatForm {
    display: flex;
    width: 75%;
    min-width: 375px;
    max-width: 700px;
    margin-bottom: 30px;
}

#msgUsuario {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    background: var(--cor-fundo-chat);
    color: var(--cor-texto-chat);
}

button {
    padding: 10px;
    background: var(--cor-fundo-mensagem-usuario);
    border: none;
    border-radius: 0 20px 20px 0;
    color: var(--cor-texto-chat);
    cursor: pointer;
    transition: background 0.3s;
}

.chatbox {
    width: 75%;
    min-width: 375px;
    max-width: 700px;
    height: calc(100vh - 60px);
    padding: 20px 5px 5px;
    background: var(--cor-fundo-chat);
    border-radius: 15px;
    overflow-y: scroll;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.mensagem {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    word-break: break-word;
    max-width: 70%;
    position: relative; /* Para usar pseudo-elementos */
}

.usuario {
    background: var(--cor-fundo-mensagem-usuario);
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 15px 15px 15px 15px;
    position: relative;
}

.usuario::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px; /* Fora do container para a seta aparecer na direita */
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: var(--cor-fundo-mensagem-usuario); /* Cor da seta */
    border-right: 0;
    margin-top: -5px;
}

.bot {
    background: var(--cor-fundo-mensagem-bot);
    text-align: left;
    margin-left: 30px;
    border-radius: 15px 15px 15px 15px;
    position: relative;
}

.bot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px; /* Fora do container para a seta aparecer na esquerda */
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right-color: var(--cor-fundo-mensagem-bot); /* Cor da seta */
    border-left: 0;
    margin-top: -5px;
}

.mensagem p {
    margin: 0;
    color: var(--cor-texto-chat);
}

a {
    text-decoration: none;
    color: var(--bs-primary);
}

a:hover {
    color: var(--bs-primary);
    text-decoration: underline;
    opacity: 0.5;
}

.chatbox ::-webkit-scrollbar {
    width: 12px;
}

.chatbox ::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

.chatbox ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
}

.chatbox {
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
}

@media (max-width: 500px) {
    #chatForm, .chatbox {
        width: 100%;
    }

    .chatbox {
        padding: 5px;
    }

    .usuario {
        margin-right: 5px;
    }

    .bot {
        margin-left: 5px;
    }
}