html {
    display: flex;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--cor-fundo-pagina);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 10px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 50px;
    color: var(--cor-texto-titulo);
    border: 5px solid var(--cor-texto-titulo);
    padding: 20px;
    border-radius: 20px;
}

#chatForm {
    display: flex;
    width: 75%;
    min-width: 375px;
    max-width: 700px;
    margin-bottom: 10px;
}

#msgUsuario {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    background: var(--cor-fundo-chat);
    color: var(--cor-texto-chat);
}

button {
    padding: 10px;
    background: var(--cor-fundo-mensagem-usuario);
    border: none;
    border-radius: 0 20px 20px 0;
    color: var(--cor-texto-chat);
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #16a085;
}

.chatbox {
    width: 75%;
    min-width: 375px;
    max-width: 700px;
    height: calc(100vh - 60px);
    padding: 10px;
    background: var(--cor-fundo-chat);
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.mensagem {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    word-break: break-word;
    max-width: 60%;
}

.usuario {
    background: var(--cor-fundo-mensagem-usuario);
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
}

.bot {
    background: var(--cor-fundo-mensagem-bot);
    text-align: left;
    margin-left: 30px;
}

.mensagem p {
    margin: 0;
    color: var(--cor-texto-chat);
}

a {
    font-size: 2rem;
    padding: 10px 20px;
    color: var(--cor-texto-titulo);
    text-decoration: none;
    border-bottom: 5px solid var(--cor-texto-titulo);
    border-radius: 20px;
    transition: background 0.3s, opacity 0.3s;
    opacity: 1;
}

a:hover {
    opacity: 0.5;
}

.chatbox ::-webkit-scrollbar {
    width: 12px;
}

.chatbox ::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

.chatbox ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
}

.chatbox {
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
}

@media (max-width: 500px) {
    #chatForm, .chatbox {
        width: 100%;
    }

    .chatbox {
        padding: 5px;
    }

    .usuario  {
        margin-right: 5px;
    }

    .bot {
        margin-left: 5px;
    }
}