<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>DoBot.chat</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/chat.css}" />
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100">
<div class="text-center">
    <img src="/img/dobot-v-800px-transp.png" alt="DoBot" class="img-fluid mb-4" style="max-width: 400px;" />
    <p class="fw-bold">Escolha o bot:</p>
    <a th:href="@{/chatbot}" th:text="${nomeChat}" class="btn btn-outline-dark btn-lg"></a>

    <!-- Link para abrir o modal -->
    <p class="mt-3">
        <a href="#" data-bs-toggle="modal" data-bs-target="#sobreModal">Sobre o DoBot.chat</a>
    </p>
</div>
<!-- Modal: Sobre-->
<div th:replace="~{fragments/sobre :: sobreModal}"></div>
</body>
</html>