<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <title>DoBot.chat</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
   <img src="/img/dobot-600px.png" alt="DoBot" style="display: block; margin: 0 auto; max-width: 400px;" />
<div style="text-align: center;">
    <a th:href="@{/chatbot}" th:text="${nomeChat}" class="btn btn-outline-dark btn-lg"></a>
</div>
    </body>
</html>
